.mat-card-title {
  margin-bottom: 0 !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px;
}

.mat-tab-body-wrapper {
  flex: 1;
}

.mat-drawer-container {
  background-color: #e8eaf6;
}
