<div class="p-3 mb-10">
  <div fxLayout="column" class="bg-white mat-elevation-z8">
    <div class="px-4 py-3" fxLayoutAlign="space-between center" fxLayout="row">
      <h3 class="mb-0 mat-headline">Sessions</h3>
      <button type="button" mat-button size="sm">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="px-4">
      <div class="my-4 text-xl">Filters</div>
      <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex="70" fxFlex.gt-md="80">
          <div fxLayout="row" fxLayoutAlign="start center" class="mt-2">
            <div class="mr-14">
              <div class="mb-1 text-sm font-semibold">Action</div>
              <mat-button-toggle-group
                [multiple]="true"
                [(ngModel)]="actions"
                aria-label="Action"
                (change)="onChangeFilter($event, 'actions')"
                class="text-sm"
              >
                <mat-button-toggle
                  disableRipple
                  value="join"
                  [ngClass]="{
                    'bg-pink-500 border-pink-500 text-pink-50':
                      actions.includes('join'),
                    'text-pink-500': !actions.includes('join')
                  }"
                  class=" hover:bg-pink-500 hover:text-pink-50 hover:border-pink-500"
                >
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>compare_arrows</mat-icon>
                    <div class="ml-1">Join</div>
                  </div>
                </mat-button-toggle>
                <mat-button-toggle
                  disableRipple
                  value="on-going"
                  [ngClass]="{
                    'bg-green-700 border-green-700 text-green-50':
                      actions.includes('on-going'),
                    'text-green-700': !actions.includes('on-going')
                  }"
                  class=" hover:bg-green-700 hover:text-green-50 hover:border-green-700"
                >
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>sensors</mat-icon>
                    <div class="ml-1">On Going</div>
                  </div>
                </mat-button-toggle>
                <!-- <mat-button-toggle
                  disableRipple
                  value="alert"
                  [ngClass]="{
                    'bg-yellow-300 border-yellow-300 text-yellow-50':
                      actions.includes('alert'),
                    'text-yellow-300': !actions.includes('alert')
                  }"
                  class=" hover:bg-yellow-300 hover:text-yellow-50 hover:border-yellow-300"
                >
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>notifications</mat-icon>
                    <div class="ml-1">Alert</div>
                  </div>
                </mat-button-toggle> -->
              </mat-button-toggle-group>
            </div>
            <div class="sentiment">
              <div class="mb-1 text-sm font-semibold">Sentiment</div>
              <mat-button-toggle-group
                [multiple]="true"
                [(ngModel)]="sentiments"
                aria-label="Sentiment"
                (change)="onChangeFilter($event, 'sentiments')"
                class="text-sm"
              >
                <mat-button-toggle
                  disableRipple
                  value="positive"
                  [ngClass]="{
                    'bg-green-500 text-green-50 border-green-500':
                      sentiments.includes('positive'),
                    'text-green-500': !sentiments.includes('positive')
                  }"
                  class=" hover:bg-green-500 hover:text-green-50 hover:border-green-500"
                >
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                    <div class="ml-1">Positive</div>
                  </div>
                </mat-button-toggle>
                <mat-button-toggle
                  disableRipple
                  value="neutral"
                  [ngClass]="{
                    'bg-yellow-500 text-yellow-50 border-yellow-500':
                      sentiments.includes('neutral'),
                    'text-yellow-500': !sentiments.includes('neutral')
                  }"
                  class=" hover:bg-yellow-500 hover:text-yellow-50 hover:border-yellow-500"
                >
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>sentiment_satisfied_alt</mat-icon>
                    <div class="ml-1">Neutral</div>
                  </div>
                </mat-button-toggle>
                <mat-button-toggle
                  disableRipple
                  value="negative"
                  [ngClass]="{
                    'bg-red-500 text-red-50 border-red-500':
                      sentiments.includes('negative'),
                    'text-red-500': !sentiments.includes('negative')
                  }"
                  class=" hover:bg-red-500 hover:text-red-50 hover:border-red-500"
                >
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>mood_bad</mat-icon>
                    <div class="ml-1">Negative</div>
                  </div>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
        <div fxFlex="30" fxFlex.gt-md="20" class="text-sm">
          <mat-form-field appearance="outline" class="w-full pt-4">
            <mat-label>Search</mat-label>
            <input
              matInput
              name="search"
              id="search"
              (keyup)="applyFilter($event)"
              placeholder="Enter a UCID"
              #searchInput
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="relative">
      <div class="table-loading-shade" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="ucid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>UCID</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="mr-1 text-green-500">
                sentiment_very_satisfied
              </mat-icon>
              <div>{{ element.ucid }}</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>StartTime</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startTime | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="handOverTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            HandOverTime
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.handOverTime | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lastQuery">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>LastQuery</th>
          <td mat-cell *matCellDef="let element">{{ element.lastQuery }}</td>
        </ng-container>

        <ng-container matColumnDef="handledBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>HandledBy</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div
                class="flex p-1 mr-2 text-blue-500 border border-blue-500 rounded-full "
              >
                <mat-icon class="w-auto h-auto text-xl leading-none">
                  smart_toy
                </mat-icon>
              </div>
              <div>{{ element.handledBy }}</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            width="100"
            mat-header-cell
            *matHeaderCellDef
            class="text-right pr-11"
          >
            Action
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-right whitespace-nowrap"
          >
            <!-- <button
              mat-stroked-button
              (click)="action(element)"
              class="mr-3 bg-pink-500 border-pink-500 text-pink-50"
            >
              <mat-icon> compare_arrows </mat-icon>
              Join
            </button> -->
            <button mat-button color="accent" (click)="action(element)">
              <mat-icon> visibility </mat-icon>
              View
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="text-center mat-cell" colspan="5" *ngIf="!isLoading">
            No data matching the filter "{{ searchInput.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[15, 30, 50]"
        showFirstLastButtons
        aria-label="Select page of sessions"
      >
      </mat-paginator>
    </div>
  </div>
</div>
