<div class="w-full m-auto bg-white shadow-md 2xl:w-10/12">
  <div class="px-8 py-8 rounded-xl">
    <h1 class="mt-3 text-2xl font-medium text-center">Login</h1>
    <form id="form" ref="loginForm" class="mt-6" (submit)="onSubmit()">
      <div class="my-5 text-sm">
        <label for="email" class="block text-black">Email</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="state.emailId"
          autofocus
          id="email"
          class="w-full px-4 py-3 mt-3 bg-gray-100 rounded-sm  focus:outline-none"
          placeholder="Email"
          required
        />
      </div>
      <div class="my-5 text-sm">
        <label for="password" class="block text-black">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="state.password"
          id="password"
          class="w-full px-4 py-3 mt-3 bg-gray-100 rounded-sm  focus:outline-none"
          placeholder="Password"
          required
        />
      </div>

      <button
        type="submit"
        name="submit"
        mat-flat-button
        color="primary"
        class="block w-full p-1 text-center text-white rounded-sm duration-30"
        disabled="{{ !state.emailId || !state.password }}"
      >
        Login
      </button>
    </form>
    <!-- <div class="flex items-center justify-center mt-10 md:justify-between">
      <div style="height: 1px;" class="hidden w-4/12 bg-gray-300 md:block"></div>
      <p class="text-sm font-light text-gray-400 md:mx-2 whitespace-nowrap"> Login With Social </p> 
      <div style="height: 1px;" class="hidden w-4/12 bg-gray-300 md:block"></div>
    </div>

    <div fxLayout="row" class="mt-7">
      <button mat-stroked-button class="w-full p-1 text-center duration-300 rounded-sm" (click)="oAuthLogin()">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="w-5 mr-2" alt="Google" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
          <span>Sign in with Google</span>
        </div>
      </button>
    </div> -->
  </div>
</div>
