// declare a variables

$custom-primary: (
  50: #344d69,
  100: #23466e,
  200: #21456e,
  300: #274a72,
  400: #224670,
  500: #11365f,
  600: #0d3563,
  700: #032e5f,
  800: #083261,
  900: #093566,
  A100: #0e3b6e,
  A200: #0c3666,
  A400: #0a3669,
  A700: #073161,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$icon-color: grey;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$primary-blue: var(--primary-color);
$secondary-blue: var(--secondary-color);
$light-grey: #d8d8d8;
$dark-grey: #707070;

$black: #3a3a3a;
$icon-background: #333;

$background-color: #f7f8fa;
$green: #71d885;
$red: #ff6868;
$yellow: #ff9850;
$grey: #f2f2f3;
$dark-grey: #9a9a9a;

$off-gray: #d8d8d8;
$dark-white: #f3f3f3;
$black: #000000;
$blue: #0088ff;
$purple: #3c506a;
$yellow: #ffbb00;

$dark-blue: #3c506a;
