<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxFlex.lt-md="50" fxFlex.lt-lg="60">
    <img src="assets/Banner_bg.png" alt="Banner Bg" class="bannerImg" />
  </div>
  <div fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-lg="40" class="mr-16">
    <router-outlet></router-outlet>
  </div>
</div>
