@import '~compass-mixins/lib/compass/css3';
@import '~@angular/material/theming';

@import '../app/modules/main/main.component.scss';
@import '../app/modules/top-menu/sidemenu/sidemenu.component.scss';
@import '../app/modules/top-menu/sidemenu-item/sidemenu-item.component.scss';

@import 'abstracts';

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-indigo, 50),
  hover: rgba(black, 0.04),
  // TODO(kara): check style with Material Design UX
  card: white,
  dialog: white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();
$primary: $custom-primary;
$accent: $mat-blue;
$warn: $mat-red;

*:focus {
  outline: transparent !important;
}

$primary-app-primary: mat-palette($primary, 500);
$primary-app-accent: mat-palette($accent, 500);
$primary-app-warn: mat-palette($warn);

$cdk-theme: mat-light-theme(
  $primary-app-primary,
  $primary-app-accent,
  $primary-app-warn
);

app-sidemenu {
  $sidemenu-app-primary: mat-palette($primary, 400);
  $sidemenu-app-accent: mat-palette($accent, 900);
  $sidemenu-app-warn: mat-palette($warn);
  $cdk-sidemenu-theme: mat-dark-theme(
    $sidemenu-app-primary,
    $sidemenu-app-accent,
    $sidemenu-app-warn
  );
  @include mat-list-theme($cdk-sidemenu-theme);
}

app-sidemenu-item {
  @include sidemenu-item($cdk-theme, 20px);
}

@include angular-material-theme($cdk-theme);
@include main($cdk-theme);

.ps-content {
  height: 100%;
}

.mat-card-header {
  .mat-card-header-text {
    margin-left: 0;
  }
}
