<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar class="topmenubackground">
  <button
    mat-icon-button
    (click)="sidenav.toggle(); drawer.toggle()"
    *ngIf="matDrawerShow"
  >
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="!matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>

  <!-- <app-breadcrumb></app-breadcrumb> -->

  <span class="spacer"></span>

  <!-- <app-fullscreen></app-fullscreen> -->

  <app-user-menu></app-user-menu>
</mat-toolbar>
