<div class="h-full p-3">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-2">
    <a routerLink="/sessions" mat-stroked-button size="sm">
      <mat-icon>arrow_back</mat-icon>
      Go Back
    </a>
    <button type="button" mat-button size="sm">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
  </div>
  <div
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutAlign="stretch stretch"
    fxLayoutGap="20px"
    style="height: calc(100% - 48px)"
  >
    <div fxFlex fxFlex.gt-sm="35" fxLayout="column" fxLayoutGap="15px">
      <mat-card fxFlex fxFlex.gt-sm="40" class="p-0 mat-elevation-z2">
        <div class="p-3 my-1" fxLayoutAlign="start center" fxLayout="row">
          <mat-card-title class="text-lg">
            <div fxFlex="row" fxLayoutAlign="start center">
              <mat-icon class="mr-1">account_circle</mat-icon>
              User Details
            </div>
          </mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content style="height: calc(100% - 65px)">
          <perfect-scrollbar>
            <div
              class="pt-6 pb-3 pl-5 pr-2 text-sm"
              fxLayout="column"
              fxLayoutGap="10px"
            >
              <div fxLayout="row" fxLayoutGap="5px">
                <div fxFlex="30" class="font-medium text-gray-400">
                  USERNAME
                </div>
                <div fxFlex>Paalamugan</div>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <div fxFlex="30" class="font-medium text-gray-400">UCID</div>
                <div fxFlex>12122332</div>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <div fxFlex="30" class="font-medium text-gray-400">VIN</div>
                <div fxFlex>12122332</div>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <div fxFlex="30" class="font-medium text-gray-400">ISSUE</div>
                <div fxFlex>
                  My car's front center seat belt does not attach properly.
                </div>
              </div>
            </div>
          </perfect-scrollbar>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex fxFlex.gt-sm="58" class="p-0 mat-elevation-z2 lg:mb-0">
        <div class="p-3" fxLayoutAlign="start center" fxLayout="row">
          <mat-card-title class="text-lg">
            <div fxFlex="row" fxLayoutAlign="start center">
              <mat-icon class="mr-1">assistant</mat-icon>
              Suggestions
            </div>
          </mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content style="height: calc(100% - 55px)">
          <perfect-scrollbar>
            <mat-tab-group class="min-h-full" dynamicHeight>
              <mat-tab label="Dialogflow Assist">
                <div class="p-4 mt-2">
                  <div fxLayout="column" fxLayoutGap="20px">
                    <div fxLayout="column" fxLayoutGap="8px">
                      <div class="font-medium" fxLayout="row" fxLayoutGap="5px">
                        <span>1.</span>
                        <span>
                          My car's front center seat belt does not attach
                          properly?
                        </span>
                      </div>
                      <div class="pl-5">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Commodi eum officia velit tenetur deleniti rem,
                        sit quod odio rerum magni totam perspiciatis doloremque
                        unde labore nobis animi dignissimos. Totam, praesentium?
                        Perferendis natus ratione obcaecati eligendi debitis est
                        temporibus iusto explicabo. Nobis distinctio porro
                        dolore corporis omnis? Porro, perspiciatis aperiam vel,
                        maxime amet repellendus tempora in, veritatis vitae
                        excepturi quo totam! Dolore velit reiciendis est autem
                        quod facilis culpa saepe, aliquid dolor mollitia ut.
                      </div>
                    </div>
                    <div fxLayout="column" fxLayoutGap="8px">
                      <div class="font-medium" fxLayout="row" fxLayoutGap="5px">
                        <span>2.</span>
                        <span>
                          My car's front center seat belt does not attach
                          properly?
                        </span>
                      </div>
                      <div class="pl-5">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Commodi eum officia velit tenetur deleniti rem,
                        sit quod odio rerum magni totam perspiciatis doloremque
                        unde labore nobis animi dignissimos. Totam, praesentium?
                        Perferendis natus ratione obcaecati eligendi debitis est
                        temporibus iusto explicabo. Nobis distinctio porro
                        dolore corporis omnis? Porro, perspiciatis aperiam vel,
                        maxime amet repellendus tempora in, veritatis vitae
                        excepturi quo totam! Dolore velit reiciendis est autem
                        quod facilis culpa saepe, aliquid dolor mollitia ut.
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="FAQs" class="overflow-hidden">
                <div
                  class="h-full p-4 text-gray-500"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                >
                  <div>No faqs found!</div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </perfect-scrollbar>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card
      fxFlex
      fxFlex.gt-sm="65"
      class="flex flex-col p-0 mat-elevation-z2"
    >
      <div class="header">
        <div class="p-3" fxLayoutAlign="start center" fxLayout="row">
          <div
            class="flex items-center justify-center flex-shrink-0 mr-2 text-white rounded-full  w-9 h-9"
          >
            <img
              src="https://avatars.dicebear.com/api/human/paalamugan.svg"
              alt="human"
            />
          </div>
          <mat-card-title class="text-lg">Conversations</mat-card-title>
        </div>
        <mat-divider></mat-divider>
      </div>
      <mat-card-content class="flex-grow overflow-y-auto">
        <perfect-scrollbar class="px-3">
          <div fxLayout="column" fxLayoutAlign="stretch stretch" fxFill>
            <div class="mt-auto">
              <div class="grid grid-cols-12 gap-y-2">
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/human/paalamugan.svg"
                        alt="human"
                      />
                    </div>
                    <div
                      class="relative px-4 py-2 ml-3 text-sm bg-white shadow  rounded-xl"
                    >
                      <div>Hey How are you today?</div>
                      <div
                        class="absolute bottom-0 left-0 mr-2 -mb-5 text-xs text-gray-500 "
                      >
                        <div
                          fxLayout="row"
                          fxLayoutAlign="center center"
                          fxLayoutGap="5px"
                          class="ml-3"
                        >
                          <div>{{ currentDate | date: 'shortTime' }}</div>
                          <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/human/paalamugan.svg"
                        alt="human"
                      />
                    </div>
                    <div
                      class="relative px-4 py-2 ml-3 text-sm bg-white shadow  rounded-xl"
                    >
                      <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Vel ipsa commodi illum saepe numquam maxime
                        asperiores voluptate sit, minima perspiciatis.
                      </div>
                      <div
                        class="absolute bottom-0 left-0 mr-2 -mb-5 text-xs text-gray-500 "
                      >
                        <div
                          fxLayout="row"
                          fxLayoutAlign="center center"
                          fxLayoutGap="5px"
                          class="ml-3"
                        >
                          <div>{{ currentDate | date: 'shortTime' }}</div>
                          <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex flex-row-reverse items-center justify-start">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/bottts/john.svg"
                        alt="bottts"
                      />
                      <!-- <mat-icon>smart_toy</mat-icon> -->
                    </div>
                    <div
                      class="relative px-4 py-2 mr-3 text-sm bg-indigo-100 shadow  rounded-xl"
                    >
                      <div>I'm ok what about you?</div>
                    </div>
                  </div>
                </div>
                <div class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex flex-row-reverse items-center justify-start">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/bottts/john.svg"
                        alt="bottts"
                      />
                      <!-- <mat-icon>smart_toy</mat-icon> -->
                    </div>
                    <div
                      class="relative px-4 py-2 mr-3 text-sm bg-indigo-100 shadow  rounded-xl"
                    >
                      <div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing. ?
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/human/paalamugan.svg"
                        alt="human"
                      />
                    </div>
                    <div
                      class="relative px-4 py-2 ml-3 text-sm bg-white shadow  rounded-xl"
                    >
                      <div>Lorem ipsum dolor sit amet !</div>
                      <div
                        class="absolute bottom-0 left-0 mr-2 -mb-5 text-xs text-gray-500 "
                      >
                        <div
                          fxLayout="row"
                          fxLayoutAlign="center center"
                          fxLayoutGap="5px"
                          class="ml-3"
                        >
                          <div>{{ currentDate | date: 'shortTime' }}</div>
                          <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex flex-row-reverse items-center justify-start">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/bottts/john.svg"
                        alt="bottts"
                      />
                      <!-- <mat-icon>smart_toy</mat-icon> -->
                    </div>
                    <div
                      class="relative px-4 py-2 mr-3 text-sm bg-indigo-100 shadow  rounded-xl"
                    >
                      <div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing. ?
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-start-1 col-end-8 p-3 mb-10 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white rounded-full "
                    >
                      <img
                        src="https://avatars.dicebear.com/api/human/paalamugan.svg"
                        alt="human"
                      />
                    </div>
                    <div
                      class="relative px-4 py-2 ml-3 text-sm bg-white shadow  rounded-xl"
                    >
                      <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perspiciatis, in.
                      </div>
                      <div
                        class="absolute bottom-0 left-0 mr-2 -mb-5 text-xs text-gray-500 "
                      >
                        <div
                          fxLayout="row"
                          fxLayoutAlign="center center"
                          fxLayoutGap="5px"
                          class="ml-3"
                        >
                          <div>{{ currentDate | date: 'shortTime' }}</div>
                          <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </mat-card-content>
      <!-- <div class="px-3 pb-4">
        <div
          class="flex flex-row items-center w-full h-16 px-4 bg-white rounded-xl"
        >
          <div>
            <button
              class="flex items-center justify-center text-gray-400 hover:text-gray-600"
            >
              <svg
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
                ></path>
              </svg>
            </button>
          </div>
          <div class="flex-grow ml-4">
            <div class="relative w-full">
              <input
                type="text"
                class="flex w-full h-10 pl-4 border rounded-xl focus:outline-none focus:border-indigo-300"
                placeholder="Enter message here..."
              />
              <button
                class="absolute top-0 right-0 flex items-center justify-center w-12 h-full text-gray-400 hover:text-gray-600"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="ml-4">
            <button
              class="flex items-center justify-center flex-shrink-0 px-4 py-2 text-white bg-indigo-500 hover:bg-indigo-600 rounded-xl"
            >
              <mat-icon class="mr-1">send</mat-icon>
              <span>Send</span>
            </button>
          </div>
        </div>
      </div> -->
    </mat-card>
  </div>
</div>
